<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="keywords for seo">
    <meta name="description" content="description for seo">
    <title>aafinancemove.com</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.min.css">
</head>

<body>
    <header class="header container">
        <img class="header-logo" src="/public/assets/images/logo.png" />
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item"><a class="active"  id="link-service" onclick="handleNavbarMenuClick('service')">บริการของเรา</a></li>
                <li class="nav-item"><a class=""  id="link-step" onclick="handleNavbarMenuClick('step')">ขั้นตอนการจัดไฟแนนซ์</a> </li>
                <li class="nav-item"><a class=""  id="link-document" onclick="handleNavbarMenuClick('document')">เอกสารต้องใช้</a> </li>
                <li class="nav-item"><a class=""  id="link-props" onclick="handleNavbarMenuClick('props')">คุณสมบัติผู้กู้</a> </li>
                <li class="nav-item"><a class=""  id="link-contact" onclick="handleNavbarMenuClick('contact')">ติดต่อเรา</a> </li>
                <li class="nav-item mr-0"><a class="" onclick="handleLinkMapClick()"><img src="/public/assets/images/pin.png" alt="" srcset=""></a> </li>
            </ul>
        </nav>
        <a href="#" class="btn-hamburger" onclick="handleBtnHamburgerClick()">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>
    <nav class="navbar-mobile">
        <i class="fa-solid fa-circle-xmark" onclick="this.closest('.navbar-mobile').classList.remove('active')"></i>
        <ul class="nav-mobile">
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('service')">บริการของเรา</a></li>
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('step')">ขั้นตอนการจัดไฟแนนซ์</a> </li>
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('document')">เอกสารต้องใช้</a> </li>
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('props')">คุณสมบัติผู้กู้</a> </li>
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('contact')">ติดต่อเรา</a> </li>
            <li class="nav-mobile-item"><a class="" onclick="handleMobileNavbarMenuClick('map')">แผนที่</a> </li>
        </ul>
    </nav>

    <a class="btn-uptotop" style="display:none" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
        <i class="fa-solid fa-circle-up"></i>
    </a>

    <section class="banner container">
        <img src="/public/assets/images/cover.jpg" alt="">
    </section>
    <section class="content container">
        <h1>รีย้ายไฟแนนซ์ไม่เช็กบูโร เก๋ง กระบะ สิบล้อ</h1>
        <p class="indent">รับจัดไฟแนนซ์ รับย้ายไฟแนนซ์ รับรีไฟแนนซ์ ปิดบัญชี รับจำนำทะเบียน รถเก๋ง กระบะ สิบล้อ
            ไม่เช็กแบล็คลิสต์ ไม่เช็กเครดิตบูโร สำหรับลูกค้าใน</p>
        </br>
        <p><strong>ภาคอีสาน</strong> : ขอนแก่น มหาสารคาม กาฬสินธุ์ ร้อยเอ็ด ยโสธร อุดรธานี สกลนคร นครพนม บึงกาฬ
            นครราชสีมา บุรีรัมย์ ชัยภูมิ อุบลราชธานี สุรินทร์ ศรีสะเกษ มุกดาหาร </p>
        </br>

        <p><strong>ภาคกลาง และภาคอื่น</strong> : กรุงเทพ นนทบุรี ปทุมธานี สระบุรี อยุธยา ลพบุรี สมุทรปราการ สมุทรสงคราม
            สมุทรสาคร ฉะเชิงเทรา ปราจีนบุรี สระแก้ว ราชบุรี สุพรรณบุรี เพชรบูรณ์ ชลบุรี ระยอง จันทบุรี กาญจนบุรี ตราด
            เพชรบุรี ประจวบคีรีขันธ์ </p>
        </br>

        <p class="indent">อยู่ใกล้อยู่ไกล หากต้องการ จัดไฟแนนซ์ ย้ายไฟแนนซ์ จัดไฟแนนซ์ใหม่ จำนำทะเบียนรถยนต์
            ไม่สะดวกเดินทาง เรายินดีให้บริการ นอกสถานที่ เงื่อนไขไม่ยุ่งยาก อนุมติเร็ว ได้เงินสดทันใจ</p>
    </section>
    <section class="section1 container">
        <div class="left">
            <img src="/public/assets/images/banner-เล็ก-3.jpg" alt="">
        </div>
        <div class="right">
            <ul>
                <li>รับทุกอาชีพ</li>
                <li>ช่วยทุกคัน</li>
                <li>ยินดีให้คำปรึกษาฟรี</li>
                <li>อย่าพึ่งตัดสินใจ ถ้ายังไม่ได้คุยกับเรา</li>
                <li>มั่นใจไม่ถูกโกง</li>
                <li>บริษัทจดทะเบียนถูกต้องตามกฏหมาย</li>
                <li>เป็นสมาชิกสมาคมเช่าซื้อ</li>
                <li>เงื่อนไขเป็นไปตามที่บริษัทกำหนด</li>
            </ul>
        </div>
    </section>
    <section class="container service" id="service">
        <h2>บริการของเรา</h2>
        <ul class="service-body">
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>บริการปิดบัญชีไฟแนนซ์เดิม</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>รับรถยนต์/รถสิบล้อ</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>จัดไฟแนนซ์แล้ว รถยังมีขับ</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>จำนำเล่มทะเบียนรถยนต์</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>รับรถปี ค.ศ. 2008 ขึ้นไป</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>บริการช่วยจัดหาเอกสารที่จำเป็น</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>รี-ย้าย ไฟแนนซ์</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>ให้ยอดจัดสูง</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>บริการทำสัญญาถึงบ้าน</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>ไถ่ถอนรถยึด</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>ผ่อนได้นานถึง 72 เดือน</span></li>
            <li class="service-item"><img src="/public/assets/images/car.png" > <span>เอกสารครบทราบผลอนุมัติภายใน 2 วัน</span></li>
        </ul>
    </section>
    <section class="section-step" id="step" style="background-image: url('/public/assets/images/bg.jpg');">
        <div class="container">
            <h2>ขั้นตอนการจัดไฟแนนซ์</h2>
            <ul class="step-body">
                <li class="step-item">
                    <div class="num-box">1</div>
                    <span>ติดต่อสอบถามเจ้าหน้าที่</span>
                </li>
                <li class="step-item">
                    <div class="num-box">2</div>
                    <span>ลูกค้าเตรียมความพร้อมเรื่อง เอกสารทั้งผู้เช่าซื้อและผู้ค้ำประกัน</span>
                </li>
                <li class="step-item">
                    <div class="num-box">3</div>
                    <span>นัดหมายโอนเล่มทะเบียนกรณีผลขออนุมิติผ่าน</span>
                </li>
                <li class="step-item">
                    <div class="num-box">4</div>
                    <span>เจ้าหน้าที่นัดหมายวันทำ สัญญา</span>
                </li>
                <li class="step-item">
                    <div class="num-box">5</div>
                    <span>ใช้เลาพิจารณาอนุมิติ 2 วัน</span>
                </li>
                <li class="step-item">
                    <div class="num-box">6</div>
                    <span>เตรียมรับเงิน</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="document container" id="document">
        <h2>เอกสารที่ต้องใช้</h2>
        <ul class="document-body">
            <li class="document-item">
                <img src="/public/assets/images/city.png" alt="">
                <span>สำเนาหรือเล่มทะเบียนรถยนต์ กระบะ สิบล้อ</span>
            </li>
            <li class="document-item">
                <img src="/public/assets/images/city.png" alt="">
                <span>บัตรประชาชน</span>
            </li>
            <li class="document-item">
                <img src="/public/assets/images/city.png" alt="">
                <span>ทะเบียนบ้าน</span>
            </li>
            <li class="document-item">
                <img src="/public/assets/images/city.png" alt="">
                <span>สัญญาเ่าซื้อไฟแนนซ์เดิม (ถ้ามี)</span>
            </li>
        </ul>
    </section>
    <section class="props container" id="props">
        <h2>คุณสมบัติผู้กู้</h2>
        <ul class="props-body">
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>อายุ 20 ปีขึ้นไป</span>
            </li>
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>ไม่ต้องเป็นเจ้าบ้าน</span>
            </li>
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>จัดไฟแนนซ์แล้ว รถยังมีขับ</span>
            </li>
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>เป็นผู้มีรายได้ (รับทุกอาชีพ)</span>
            </li>
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>สามี-ภรรยา ค้ำให้กันได้</span>
            </li>
            <li class="props-item">
                <img src="/public/assets/images/info.png" alt="">
                <span>ไม่เช็กแบล็คลิสต์ ไม่เช็กเครดิตบูโร</span>
            </li>
        </ul>
    </section>
    <section class="contact container" id="contact">
        <h2>ติดต่อเรา</h2>
        <img class="qrcode" src="/public/assets/images/QR.png" alt="">
        <div class="contact-body">
            <div class="left">
                <h3>ที่อยู่สำนักงานตัวแทนภาคอีสาน</h3>
                <ul class="cb-body">
                    <li class="cb-item">
                        <img src="/public/assets/images/tower.png" alt="">
                        <span>ที่อยู่สำนักงาน : 119 ถนนดรุณสำราญ ตำบลในเมือง อำเภอเมือง จังหวัดขอนแก่น 40000</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/email.png" alt="">
                        <span>Email : aafinance1000@gmail.com</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/phone.png" alt="">
                        <span>เบอร์โทร  : 062-123-1000</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/line.png" alt="">
                        <span>Line ID  : 0621231000</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/facebook.png" alt="">
                        <span>Facebook  : รีย้ายไฟแนนซ์ไม่เช็คบูโร ขอนแก่น สารคาม กาฬสินธุ์ ร้อยเอ็ด</span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <h3>ที่อยู่สำนักงานตัวแทนภาคกลาง</h3>
                <ul class="cb-body">
                    <li class="cb-item">
                        <img src="/public/assets/images/tower.png" alt="">
                        <span>ที่อยู่สำนักงาน : 332/282 ถนนสุขุมวิท 105 แขวงบางนา เขตบางนา กรุงเทพฯ 10260</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/email.png" alt="">
                        <span>Email : aafinance1000@gmail.com</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/phone.png" alt="">
                        <span>เบอร์โทร  : 062-123-1000</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/line.png" alt="">
                        <span>Line ID  : 0621231000</span>
                    </li>
                    <li class="cb-item">
                        <img src="/public/assets/images/facebook.png" alt="">
                        <span>Facebook  : รีย้ายไฟแนนซ์ไม่เช็คบูโร สระบุรี ฉะเชิงเทรา ปราจีนบุรี ชลบุรี ระยอง </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="map container" id="map">
        <h2>แผนที่ตั้งสำนักงาน</h2>
        <p class="subtitle"><a target="_blank" href="https://maps.google.com?q=332,%20282%20Soi%20Sukhumvit%20105,%20Khwaeng%20Bang%20Na,%20Khet%20Bang%20Na,%20Krung%20Thep%20Maha%20Nakhon%2010260&ftid=0x311d5fbc32bf4e41:0xb4e75a0cc7cf9960&hl=en-TH&gl=th&entry=gps&lucs=s2se,a2">คลิกเพื่อ เปิดแผนที่กูเกิ้ล เลือกเส้นทาง เดินทางตาม GPS</a></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.0430506907915!2d100.64289481482943!3d13.655145190410089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d5fbc32bf4e41%3A0xb4e75a0cc7cf9960!2s332%2C%20282%20Soi%20Sukhumvit%20105%2C%20Khwaeng%20Bang%20Na%2C%20Khet%20Bang%20Na%2C%20Krung%20Thep%20Maha%20Nakhon%2010260!5e0!3m2!1sen!2sth!4v1645157327258!5m2!1sen!2sth" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    <footer>
        <div class="container">
           <ul class="footer">
                <li class="footer-item">
                    <img src="/public/assets/images/footer.png" alt="">
                    <p>ที่อยู่สำนักงาน : 123-4 ตำบลศิลา</p>
                    <p>อำเภอเมือง จังหวัดขอยแก่น 40000</p>
                </li>
                <li class="footer-item">
                    <img src="/public/assets/images/email.png" alt="">
                    <p>Email : aafinance1000@gmail.com</p>
                </li>
                <li class="footer-item">
                    <img src="/public/assets/images/phone.png" alt="">
                    <p>เบอร์โทร  : 062-123-1000</p>
                </li>
                <li class="footer-item">
                    <img src="/public/assets/images/line.png" alt="">
                    <p>Line ID  : 0621231000</p>
                </li>
                <li class="footer-item">
                    <img src="/public/assets/images/facebook.png" alt="">
                    <p>Facebook  : รีย้ายไฟแนนซ์ไม่เช็คบูโร ขอนแก่น </p>
                    <p>สารคาม กาฬสินธุ์ ร้อยเอ็ด</p>
                </li>
           </ul> 
        </div>
    </footer>
    <script src="/public/assets/js/app.js"></script>
</body>

</html>