@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

strong {
  font-weight: 600;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1360px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1530px) {
  h2 {
    font-size: 2.6rem;
  }
}

.header {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background: #ffb400;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  padding: 10px 20px;
}

.header .header-logo {
  width: 30px;
  height: 30px;
}

.header .navbar {
  display: none;
  width: 100%;
}

.header .navbar .nav {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header .navbar .nav .nav-item .mr-0 {
  margin-right: 0;
}

.header .navbar .nav .nav-item a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  padding: 5px 15px;
}

.header .navbar .nav .nav-item a.active {
  background: #3d3d3d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 15px;
  color: #ffb400;
}

.header .navbar .nav .nav-item i {
  font-size: 35px;
}

.banner {
  margin-top: 8rem;
}

.banner img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .banner img {
    border-radius: 10px;
  }
}

.content {
  padding: 1rem;
  margin-top: 1rem;
}

.content p {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .content p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .content p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .content p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .content p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .content p {
    font-size: 1.6rem;
  }
}

.content strong {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .content strong {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .content strong {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .content strong {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1360px) {
  .content strong {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1530px) {
  .content strong {
    font-size: 1.7rem;
  }
}

.indent {
  text-indent: 3rem;
}

.section1 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.section1 .left {
  flex: 1;
}

.section1 .left img {
  width: 648px;
  max-width: 100%;
  height: auto;
  max-height: 530px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.section1 .right {
  flex: 1;
  display: flex;
  align-items: center;
}

.section1 .right ul {
  list-style-type: none;
  list-style-position: inside;
}

.section1 .right ul li {
  font-size: 1.2rem;
  font-weight: 300;
  position: relative;
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.section1 .right ul li:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "·";
  font-size: 70px;
  vertical-align: middle;
  line-height: 1.7rem;
}

@media screen and (min-width: 768px) {
  .section1 .right ul li {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .section1 .right ul li {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .section1 .right ul li {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1360px) {
  .section1 .right ul li {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1530px) {
  .section1 .right ul li {
    font-size: 1.7rem;
  }
}

.service {
  margin-top: 4rem;
}

.service .service-body {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-left: 1rem;
}

.service .service-body .service-item {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.service .service-body .service-item i {
  color: #ffb400;
  font-size: 2.5rem;
}

.service .service-body .service-item span {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .service .service-body .service-item span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .service .service-body .service-item span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .service .service-body .service-item span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .service .service-body .service-item span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .service .service-body .service-item span {
    font-size: 1.6rem;
  }
}

.section-step {
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-step .step-body {
  margin-top: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding-left: 1rem;
}

.section-step .step-body .step-item {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.section-step .step-body .step-item .num-box {
  border: 2px solid black;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 35px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .section-step .step-body .step-item .num-box {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-step .step-body .step-item .num-box {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .section-step .step-body .step-item .num-box {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .section-step .step-body .step-item .num-box {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .section-step .step-body .step-item .num-box {
    font-size: 1.6rem;
  }
}

.section-step .step-body .step-item span {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .section-step .step-body .step-item span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-step .step-body .step-item span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .section-step .step-body .step-item span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .section-step .step-body .step-item span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .section-step .step-body .step-item span {
    font-size: 1.6rem;
  }
}

.document {
  margin-top: 4rem;
}

.document .document-body {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  row-gap: 1rem;
  padding-left: 1rem;
}

.document .document-body .document-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 1rem;
}

.document .document-body .document-item img {
  display: inline-block;
}

.document .document-body .document-item span {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .document .document-body .document-item span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .document .document-body .document-item span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .document .document-body .document-item span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .document .document-body .document-item span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .document .document-body .document-item span {
    font-size: 1.6rem;
  }
}

.props {
  margin-top: 4rem;
}

.props .props-body {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  row-gap: 1rem;
  padding-left: 1rem;
}

.props .props-body .props-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 1rem;
}

.props .props-body .props-item img {
  display: inline-block;
}

.props .props-body .props-item span {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .props .props-body .props-item span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .props .props-body .props-item span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .props .props-body .props-item span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .props .props-body .props-item span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .props .props-body .props-item span {
    font-size: 1.6rem;
  }
}

.contact {
  margin-top: 4rem;
}

.contact .qrcode {
  display: block;
  margin: auto;
}

.contact .contact-body {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.contact .contact-body .left {
  flex: 1;
}

.contact .contact-body .right {
  flex: 1;
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .contact .contact-body .right {
    margin-top: 0;
  }
}

.contact .contact-body h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .contact .contact-body h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact .contact-body h3 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1280px) {
  .contact .contact-body h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1360px) {
  .contact .contact-body h3 {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1530px) {
  .contact .contact-body h3 {
    font-size: 2rem;
  }
}

.contact .contact-body .cb-body {
  margin-top: 2rem;
  list-style: none;
}

.contact .contact-body .cb-body .cb-item {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.contact .contact-body .cb-body .cb-item img {
  margin-top: 5px;
}

.contact .contact-body .cb-body .cb-item span {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .contact .contact-body .cb-body .cb-item span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact .contact-body .cb-body .cb-item span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .contact .contact-body .cb-body .cb-item span {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1360px) {
  .contact .contact-body .cb-body .cb-item span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1530px) {
  .contact .contact-body .cb-body .cb-item span {
    font-size: 1.6rem;
  }
}

.map {
  margin-top: 4rem;
}

.map .subtitle {
  text-align: center;
}

.map .subtitle a {
  color: red;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .map .subtitle a {
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .map .subtitle a {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .map .subtitle a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1366px) {
  .map .subtitle a {
    font-size: 16px;
  }
}

.map iframe {
  margin-top: 2rem;
  width: 100%;
  height: 400px;
}

footer {
  margin-top: 3rem;
  background-color: #ffb400;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0;
    height: 153px;
  }
}

footer .footer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  footer .footer {
    flex-direction: row;
  }
}

footer .footer .footer-item img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  footer .footer .footer-item img {
    margin-bottom: 0;
  }
}

footer .footer .footer-item p {
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer .footer .footer-item p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */